
/* nav a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding: 0 1.5rem;
}

nav a:hover {
    color: #d3d3d3
} */

.play_area {
  background-color: pink;
}

#pictures_container {
  background-color: aquamarine;
}

.medium_size {
  width: 20vw;
}

.test_button {
  width: 30px;
  height: 30px;
}